absl-py==0.7.1
astor==0.7.1
certifi==2019.6.16
cloudpickle==1.2.1
cycler==0.10.0
gast==0.2.2
grpcio==1.16.1
h5py==2.9.0
idna==2.6
imageio==2.5.0
ISR==2.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
mkl-fft==1.0.12
mkl-random==1.0.2
mock==3.0.5
mxnet==1.4.1
numpy==1.16.2
Pillow==6.1.0
protobuf==3.8.0
pyparsing==2.4.0
pyreadline==2.1
python-dateutil==2.8.0
PyYAML==5.1.1
requests==2.21.0
scikit-learn==0.21.0
scipy==1.2.1
six==1.12.0
tensorboard==1.13.1
tensorflow==2.5.3
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.32.1
Werkzeug==0.15.4
wincertstore==0.2
